body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
    background-color: black;

 }
#sub-title{
   color: white;
    font-size: 2cm;
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
    padding: 400px;
}
.box-3{
   background-color: black;
   color: white;
   width: 100%;
   height: 800px;
   font-size: 1cm;
}
  .box{
    padding: 5px 5px;
    margin: 100px;
 }
 .box-1{
    background-color:black;
    width: 800px;
    height: 500px;
    /* justify-content:center; */
    /* display: none; */
 }
 .box-2{
    background-color:black;
    width: 800px;
    height: 500px;
 }


 .flexbox-content-2{
    display: flex;
    justify-content: space-around; 
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
  }
.frame-1{
    /* display: block; */
    width: 100%;;
    height:100%;
    border: none;
    object-fit: cover;
}
 #navigation {
    display: flex;
    justify-content:left;
    padding: 20px;
 }

 #navigation a:hover{
    color: blue; 
    border: solid blue 0.5px;
 }