body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
 }
 Edu AU VIC WA NT Arrows {

  }
 #p5-container {
   display: flex;
   justify-content: center;
   align-items: center;
}
 #navigation {
   font-size:30px;
   display: flex;
   justify-content:right;
   padding: 20px;
}

#navigation a:hover{
   color: blue; 
   border: solid blue 0.5px;
}