body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
    background-color:white;

 }

  .box{
   box-sizing: border-box;
    padding: 5px 5px;
    margin: 5px;
 }
 .box-1{
    background-color:rgb(211, 213, 215);
    width: 40%;
    height: 400px;
    /* display: none; */
 }
 .box-2{
    background-color:rgb(211, 213, 215);
    width: 40%;
    height: 400px;
 }
 .flexbox-content {
   display: flex;
   justify-content: space-evenly; 
   width: 100%;
   margin: auto;
   flex-wrap: wrap;
 }
 .flexbox-content-2{
   display: flex;
   justify-content: space-evenly; 
   width: 100%;
   margin: auto;
   flex-wrap: wrap;
  }
 .big{
   width: 100%;
   background-color:rgb(211, 213, 215);
   text-align:center;
   font-size: 2cm;
   font-weight: 600;

 }
 .small{
   width:40%;
   height:20px;
   background-color:rgb(211, 213, 215);
   text-align:center;
   font-size: 15px;
   font-weight: 600;
   padding:5px;
 }
 .frame-1{
   /* display: block; */
   width: 100%;;
   height:100%;
   border: none;
   object-fit: cover;
}
 #navigation {
   display: flex;
   justify-content:space-between;
   padding: 20px;
 }

 #navigation a:hover{
   color: blue; 
   border: solid blue 0.5px;
 }